<!DOCTYPE html>
<html>
<head>
</head>
<style>
	body {
		font-family:Helvetica, Arial, sans-serif;
		color:#fff;
		text-shadow: #333 2px 2px 5px;
		margin:0;
		padding:0;
		font-size:22px;
	}

	#main {
		text-align:center;
		margin-top:20%;
	}
	a {
		text-decoration: none;
	}
</style>
<body>
	<div id="main">
		<img src="../../logo.png" />
		<br /><br /><br />
		<a href="https://foursquare.com/oauth2/authenticate?client_id=LJEDFWI00IQGGDZL3FKVVZEPSJDJDYDCHOSNWFNIVIVVJMRE&amp;response_type=code&amp;redirect_uri=http://ancient-crag-6996.herokuapp.com/login_redirect"><img src="../../connect.png" /></a>
	</div>
</body>
</html>
